body{
    text-align: center;
    background:url('https://png.pngtree.com/thumb_back/fh260/background/20230704/pngtree-mesmerizing-neon-lit-3d-illustration-of-a-drum-set-image_3750336.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

}
h1{
    font-size: 5rem;
    color: #DBEDF3;
    text-shadow: 3px 0 #DA0463;
}
.drum{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2); 
    outline: none;
    border: 5px solid #404B69;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    
}


.set{
    margin: 10% auto;
}
.pressed {
    transform: scale(0.95);
    transition: transform 0.1s;
}